@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
    --bg-color: #FFFFFF;
    --style1-color: #FFFFFF;
    --style2-color: #FFFFFF;
    --font-color: #4E4E4E;
    --typewriterSpeed: 2.5s;
    --typewriterCharacters: 21;
    --font: #414141;
    --underline: black;
}


body {
    background: var(--bg-color);
    color: var(--font-color);
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.highlight-title {
    background-color:#0077b6;
    border-radius: 20px 6px;
    padding: 3px 6px;
}
.hightlight {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient( -100deg, rgba(255, 224, 0, 0.2), rgba(255, 224, 0, 0.7) 95%, rgba(255, 224, 0, 0.1) );
}

.highlight-red {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient( -100deg, rgba(255, 20, 0, 0.2), rgba(255, 20, 0, 0.7) 95%, rgba(255, 20, 0, 0.1) );
}

.highlight-green {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient( -100deg, rgba(0, 255, 20, 0.2), rgba(0, 255, 20, 0.7) 95%, rgba(0, 255, 20, 0.1) );
}

.highlight-blue {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient( -100deg, rgba(0, 255, 20, 0.2), rgba(0, 255, 20, 0.7) 95%, rgba(0, 255, 20, 0.1) );
}

.hightlight2 {
    border-radius: 0.1em 0 0.1em 0;
    background-image: linear-gradient( -100deg, rgba(255, 224, 0, 0.2), rgba(255, 224, 0, 0.7) 95%, rgba(255, 224, 0, 0.1) );
}

.border-highlight {
    border: 4px dashed cornflowerblue;
    padding: 0.03em 1.5em;
 
}

h1, p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-family: "Roboto Mono"
}

.projectPtext {
    font-size: 1.5vw/1.1rem;
}

nav {
    background: var(--bg-color);
    position: sticky;
    top: 0;
    border-radius: 1em 0 1em 0;
    height: 10vh;
    z-index: 10000;
}

nav .container{
    width:90%;
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    padding:5px;
}
nav .container ul{
    outline-style:none;
}
nav .container ul li {
    display: inline-block;
}

nav .container ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--font-color);
    text-decoration: none;
    font-family: "Roboto Mono";
    font-size: 24px;
    scroll-behavior: smooth;
}

    nav .container ul li.active {
        background-color: crimson;
        border-radius: 1em 0 1em 0;
        background-image: linear-gradient(to right, #0077b6, #00b4d8);
        transition: 0.3s ease background-color;
    }
nav .container ul li.active a {
    color: rgb(255, 255, 255);
}

section {
    place-content: center;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

.homeImage {
    background-image: url("images/bg.jpg")
}
.page1 {
    min-height: 75vh;
    padding-top: 0vh;
    margin: 0;
    font-family: "Source sans-serif Pro",sans-serif;
    display: grid;
    background: var(--bg-color);
}

.page1-text {
    font-size: clamp(1rem, 3vw + 2rem, 5rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    transition: all 100ms ease-out;
}

    .page1-text::before,
    .page1-text::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .page1-text::before {
        background: var(--bg-color);
        animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
    }

    .page1-text::after {
        width: 0.08em;
        background: black;
        animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(2,start) infinite;
    }


@keyframes typewriter {
    to {
        left: 100%;
    }
}


@keyframes blink {
    20% {
        background: black;
    }

    25% {
        background: transparent;
    }

    75% {
        background: transparent;
    }

    80% {
        background: black;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page1-text:hover {

}

    .page1-text:hover ~ hr {
        width: 100%;
    }

hr {
    width: 0px;
    height: 3px;
    background: var(--underline);
    border: var(--underline);
    margin: 0px;
    transition: width 450ms ease-out;
}

.page1a {
    margin-bottom: 5vh;
}

.description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 2%;
}

.descriptionlist {
    flex: 1;
    background-color: var(--style2-color);
    border-radius: 25px;
}

.descriptionText{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2.5vw;

}

.desicons {
    filter: invert(6%) sepia(17%) saturate(7138%) hue-rotate(183deg) brightness(98%) contrast(101%);
    transition: all .2s ease-in-out;
}

.desicons:hover {
    transform: scale(1.1);
}

.page2 {
    
    float: left;
     
}

.page2content {
    display: flex;
    justify-content:center;

}
.selfie {
}

.safluke_pic {
    width: 15em;
    
    flex:1;
    padding-right:20px;
}


.selfie-text {
    float: left;
    flex: 1;
    font-size: clamp(0.5rem, 3vw + 0.75rem, 1.3rem);
    max-width:50vw;
    max-height:80vw;
}

.page4title,.page5title {
    text-align:left;
}

.page1title, .page2title, .page3title, .page4title, .page5title {
    color: linen;
    text-align: left;
    font-size:2vw;
    color:white;
}

.page2title, .page4title, .page5title {
    margin-bottom: 10vh;
    margin-top:10vh;
}

.page4 {
}

.project-layoutDesktop {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    perspective: 1500px;
    width: 80%;
    margin-left: 10%;
}

.project-layoutMobile {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    perspective: 2000px;
    width: 80%;
    margin-left: 10%;
}

.project-layoutDesktop:hover > .card, .project-layoutMobile:hover > .card {
    cursor: pointer;
}

.card {
    position: relative;
    transition: transform 800ms;
    transform-style: preserve-3d;

}

@keyframes turn {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 0, 0, 180deg);
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

.front {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
}

.frontFlip {
    transform: rotateY(180deg);
    z-index: -500;
}

.backFlip {
    transform: rotateY(0deg);
    z-index: 500;
}

.projectVideoImageleft, .projectVideoImageright{
    width: 100%;
}

.projectVideoImageleft:hover {
    transform: scale(1.35);
}

.projectVideoImageright:hover {
    transform: scale(1.35);
}
.project {
    background-color: var(--style2-color);
    text-align: center;
    justify-content: space-between;
    min-width: 20em;
    min-height: 20em;
    border-radius: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    transition: all .2s ease-in-out;
    height:100%;
    width:100%;
}

.project:hover {
}

.project-title {
    padding-bottom: 10px;
    margin-bottom:0;
}

.project-title-text {
    margin-top: 4%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
}

.project-body {
    width: 80%;
    margin-left: 10%;
    max-height:100%;
}
.project-footer {
}

.project-footer-row {
    display: flex;
    gap: 2px;
    color:white;
}

.project-content {
    flex: 1;
    
}

.proj-1 {
    background-color: #0077b6;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    border-radius: 0 0 0 25px;
}


.proj-2 {
    background-color: #0077b6;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.proj-3 {
    background-color: #0077b6;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.proj-4 {
    background-color: #0077b6;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    border-radius: 0 0 25px 0;
}


.page3 {
    text-align: left;
}

.skillsTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    
}

.skillsTableColumn {
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    text-align: center;
    margin: 10px 20px 10px;
    border-radius: 25px;
    justify-content: center;
}

.skillsTableContent {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 10px;
    text-align: center;
    justify-content:center;
}

.rowEven {
    background: wheat;
    border-radius: 25px;
}

.rowOdd{
    background-color:lightsalmon;
    border-radius: 25px;
}





.page5 {
    margin-top: 30px;
    background-color: var(--style2-color);
    min-height: 25vh;

}


.page5content {
    display: flex;
    height: 5vh;
    padding-bottom:10vh;
    width:50vw;
    margin-left:25vw;
   
}


.footerContent {
    padding-top: 10px;
    flex: 1;
    height: 20px;
    transition: all .2s ease-in-out;
    filter: invert(52%) sepia(98%) saturate(7098%) hue-rotate(215deg) brightness(98%) contrast(75%);
}

.footerContent:hover {
    transform: scale(1.1);
}